body {
    width: 960px;
    margin: auto;
}

/*homepage material*/
.photo_slide_show{
    height: 100px;
    width: 500px;
    text-align: left;
}

.description div {
    height: 40px;
}
    
.header {
    border-style: dotted;
    border-width: 2px;
    padding: 1px;
}

.logo {
    float: left;
    width: 320px;
}

.info {
    text-align: center;
    width: 400px;
    float: right;
    margin: auto;
}

h3, h4, p {
    line-height: 0.5;
}

.header-top {
    height: 190px;
    
}

div {
    border-style: solid;
    border-width: 1px;

    
}

.menu {
    height: 25px;
    margin: auto;
    width: 920px;
}

.menu div {
    width: 113px;
    float: left;
    padding: 0px;
    text-align: center;
}




